<header>
  <h1><a href="/">Tech Blog</a></h1>
  <nav>
    {{#if loggedIn}}
    <a href="/Tech-Blog/views/dashboard.handlebars">Dashboard</a>
    <a href="/Tech-Blog/views/logout.handlebars">Logout</a>
    {{else}}
    <a href="/Tech-Blog/views/signup.handlebars">Sign Up</a>
    <a href="/Tech-Blog/views/login.handlebars">Login</a>
    {{/if}}
  </nav>
</header>
